<header class="navbar-fixed">
   <nav>
      <div class="nav-wrapper teal lighten-1">
         <ul>
            
            <li class="home-logo"><%= link_to 'mySongs', root_path %></li>
            
            <% if signed_in? %>
               <ul class="right">
                  <li><%= link_to 'Playlist', posts_path %></li>
                  <li><%= link_to 'Sign out', sign_out_path, method: :delete, :class => "waves-effect waves-light btn" %></li>
               </ul>
               <li class="hide-on-med-and-down">Signed in as: <%= current_user.email %></li>
            <% else %>
               <li><%= link_to 'Sign in', sign_in_path %></li>
            <% end %>
        </ul>
      </div>
   </nav>
</header>