<!DOCTYPE html>
<html>
  <head>
    <title>Mysongs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Cabin+Sketch|Roboto|Shrikhand" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    
  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= render 'layouts/main' %>

    <% if current_page?(root_path) %>
        <%= render 'layouts/footer_2' %>
      <% else %>        
        <%= render 'layouts/footer_1' %>
    <% end %>

  </body>
</html>
